@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

$colorBody: #ffffff;
$colorWhite: white;
$colorB1: #f9f9f9;
$colorBlue: #993535;

@mixin fontWeight($style){
    font-weight: $style;
}
@mixin margin_left($px){
    margin-left: $px;
}


@mixin botones{
    width: 40%;
    margin: auto;
    height: 40px;
    color: #000;
    background: #aad2ee;
    border-radius: 4px;
    font-size: 20px;
}
@mixin Width_Height($width, $height){
    width: $width;
    height: $height;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: $colorBody;
    font-family: 'Kalam', cursive;
    width: 100%;
}


.container{
    width: 90%;
    margin: auto;
    height: auto;
}

input, 
button{
    border: none;
    outline: none;
    font-family: 'Kalam', cursive;
}

input::-webkit-input-placeholder  {
    color: white;
}


@import 'components/header';
@import 'components/section';
@import 'components/footer';






